<% content_for :body_class do %>small-header<% end %>

<main class="about">
  <section>
    <h2>What were we thinking?</h2>
    <p>
      Lob is a fun labs project demonstration of the amazing realtime capabilities of the modern web. <br>
      The realtime data streaming from a phone to the lob dashboard is powered by <a href="https://www.ably.com">Ably</a>. Lob was built jointly as a labs project by <a href="http://workshop14.com">Workshop14.com</a> and <a href="https://www.ably.com">Ably</a>.
    </p>

    <p>
      It is now possible for any webpage to communicate near instantaneously using WebSockets.
      WebSockets makes possible a whole host of new applications where instant data exchange makes amazing things happen.
      Every time you've ever thought a web page was lagging behind, realtime now makes websites bang up to the minute, second, millisecond.
    </p>
  </section>

  <section>
    <a href="https://www.ably.com" target="_blank">
      <img class="ably-logo" src="/images/ably_logo_about.svg<%=cache_invalidator_param%>" alt="Ably logo" data-no-retina>
    </a>
    <h2><a href="https://www.ably.com">Simply better realtime</a></h2>
    <p>
      Ably is a realtime data delivery platform that makes it easy for you to add realtime messaging and data streaming to your applications.
    </p>
    <a class="button __wide" href="https://www.ably.com">Find out more</a>
  </section>

  <section>
    <h2 class="workshop-logo"><a href="http://workshop14.com">Workshop 14</a></h2>
    <p>
      Crafting professional software for fast and fresh web solutions.
    </p>
    <a class="button __wide" href="http://workshop14.com">Find out more</a>
  </section>
</main>
