<% content_for :head do %>
  <script type="text/javascript" src="/home.js<%=cache_invalidator_param%>"></script>
<% end %>

<% content_for :flash do %>
  <div class="device-compatibility-notice mobile-not-ready">
    <div>
      Looks like you're using a device that doesn't have an accelerometer. To see how high you can lob, try this site on a phone that supports <a href="http://caniuse.com/#feat=deviceorientation">orientation</a>.
    </div>
  </div>
<% end %>

<main class="home">
  <div class="mobile-ready">
    <form class="panel" action="/lob" method="get">
      <button type="submit" name="button" class="--wide --important">Start Flight</button>
    </form>
  </div>

  <img class="h2-icon" src="/images/icon_eye.svg" aria-hidden="true" data-no-retina></img>
  <h2>View live lob dashboard!</h2>
  <p>All phones lobbed stream their movement to our servers. Enter the unique lob code shown on yours or a friend's phone to view their live lobs and stats.</p>

  <form class="track-flight panel" action="/track" method="get">
    <div class="row">
      <input type="text" name="channel-name" placeholder="Enter code" required>
      <button type="submit">Watch live lob</button>
    </div>
  </form>

  <div class="recent-lobs">
    <img class="h2-icon" src="/images/icon_clock.svg" aria-hidden="true" data-no-retina></img>
    <h2>Recent lobs</h2>
    <ul class="lob-history"></ul>
  </div>

  <img class="h2-icon" src="/images/icon_cup.svg" aria-hidden="true" data-no-retina></img>
  <h2>Leaderboard</h2>
  <ul class="leader-nav">
    <li class="selected">
      <a href="/leaderboard/month">30 Days</a>
    </li>
    <li>
      <a href="/leaderboard/week">Week</a>
    </li>
    <li>
      <a href="/leaderboard">Today</a>
    </li>
  </ul>

  <%= erb :_leaderboard_table, locals: { leaderboard: leaderboard, past: '30 days' } %>

  <a href="/leaderboard/month" class="button --wide">Full leaderboard</a>
</main>
