<% content_for :body_class do %>small-header<% end %>

<main>
  <img class="h2-icon" src="/images/icon_cup.svg" aria-hidden="true"></img>
  <h2>Leaderboard</h2>

  <ul class="leader-nav">
    <li <%= 'class="selected"' unless ['7 days', '24 hrs'].include?(past) %>>
      <a href="/leaderboard/month">30 Days</a>
    </li>
    <li <%= 'class="selected"' if past == '7 days'%>>
      <a href="/leaderboard/week">Week</a>
    </li>
    <li <%= 'class="selected"' if past == '24 hrs'%>>
      <a href="/leaderboard">Today</a>
    </li>
  </ul>

  <%= erb :_leaderboard_table, locals: { leaderboard: leaderboard, past: past } %>
</main>
