/* Base element styling */

html, body {
  margin: 0;
  font-size: 15px;
  font-weight: 400;

  /* Needed for cloud & phone background to
     be full page height but not effect the height
     http://goo.gl/Eqv1Gz */
  min-height: 100%;
  position: relative;
}

body {
  background-color: #F0D3C2;
  font-family: $font;
  color: #333;

  /* As above, needed for cell & phone background */
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.button-base {
  font-family: $font;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  width: 210px;
  height: 40px;
  margin: 0 20px 20px 0;

  &.--wide {
    width: $narrow-centre-column-width;
    margin: 0 auto;
  }
}

input[type=text] {
  @extend .button-base;

  background-color: #E6E6E6;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), inset 1px 0px 1px rgba(0, 0, 0, 0.2), inset -1px 0px 1px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(255, 255, 255, 1);
  padding: 12px;

  &:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #85BDDC, 0px 5px 5px rgba(0, 0, 0, 0.15);
    outline: none;
  }

  @include placeholder {
    color: $placeholder-color;
    text-align: center;
  }
}

button, button[type=submit], input[type=submit] {
  @extend .button-base;

  background-color: #158CC2;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 12px 14px 12px;
  position: relative;

  a {
    color: white;
  }

  &[disabled] {
    background-color: #CCC;
    color: #888;
  }
}

a.button {
  @extend button[type=submit];
  display: block;
}
