/* Shared layout styling such as headers, footers */

/* Gradient background with clouds & phones */
.background {
  z-index: -4;

  .gradient {
    z-index: -3;
    position: absolute;
    height: 800px;
    width: 100%;
    top: 0;
    left: 0;
    background: #1B8AC8;
    @include background-image(linear-gradient(#1B8AC8, #F0D3C2));
  }

  img {
    z-index: -2;
    &.background-cloud-top {
      position: absolute;
      top: 100px;
      margin: 0 50%;
      width: 210px;
      height: 111px;
      left: -240px;
    }
    &.background-cloud-bottom {
      width: 900px;
      height: 503px;
      position: absolute;
      top: 400px;
      margin: 0 50%;
      left: -450px;
    }
  }

  .floating-phones {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    img {
      &.phone {
        height: 320px;
        position: relative;
        display: block;
        margin: 0 auto;
        z-index: -1;
      }

      &.phone-samsung {
        @extend .phone;
        left: 30%;
        top: 350px;
        transform: rotate(17deg);
      }

      &.phone-iphone {
        @extend .phone;
        right: 30%;
        top: 525px;
        transform: rotate(-17deg);
      }

      &.phone-android {
        @extend .phone;
        top: 675px;
        transform: rotate(17deg);
      }
    }
  }
}

/* Outer content area */
main {
  margin: 0 auto 6em auto;
  width: 690px;
  padding: 0 10px;
  text-align: center;
}

/*
  Page header: logo + strapline
*/

header {
  margin: 0 auto 20px 0;
  position: relative;
  text-align: center;

  h1 {
    margin: 50px 0 0 0;
    .header-copy { display: none; }
    img.header-logo { width: 300px; }
  }

  .strap-line {
    color: white;
    font-weight: 300;
    font-size: 1.8rem;
  }
}

/* Footer */

footer {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  color: #999;

  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    width: $narrow-centre-column-width;
    margin: 1.5rem auto;
    overflow: hidden;

    aside.about {
      text-align: left;
      margin-right: 110px;
      float: left;
    }

    aside.sponsor {
      text-align: left;
      float: right;
      width: 100px;
      font-size: 0.9em;

      img {
        margin-top: 5px;
        width: 100px;
      }
    }
  }
}
