/* Global Lob CSS */

$max-width: 980px; /* Designed for up to tablet */
$mobile-width: 1000px;

$font: 'Open Sans', sans-serif;
$placeholder-color: #999;
$link-color: #A3323B;
$narrow-centre-column-width: 443px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

/* CSS resets
   Preferred behaviour */
@import "node_modules/scut/dist/scut";
@include scut-reset-border-box;
@include scut-reset-button;
@include scut-sticky-footer-fluid(body, footer);

/* Shortcuts for vendor prefixes */
@import "node_modules/bourbon/app/assets/stylesheets/bourbon";

/* Our CSS files */
@import "framework";
@import "components";
@import "layout";
@import "pages";
@import "notices";
