/* Notice that appears at the top of the page about not having an accelerometer */
.device-compatibility-notice {
  max-width: 490px;
  margin: 0 auto;
  div {
    margin: 30px;
    padding: 15px 45px;
    border-radius: 5px;
    background-color: #7FBBDD;
    font-size: 0.8rem;
    text-align: center;
    color: $link-color;

    @media screen and (max-width: $mobile-width) {
      margin: 15px;
    }
  }
}
