/* Notice that appears at the top of the page about not having an accelerometer */
.device-compatibility-notice {
  max-width: $mobile-width + 100px;
  margin: 0 auto;
  div {
    margin: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: #7FBBDD;
    font-size: 0.9rem;
    text-align: center;
    color: $link-color;
  }
}

.mobile-not-ready {
  display: hidden;
}
