/* Home page */

.home {
  /* Assume visitor does not have an accelerometer unless we detect one */
  .mobile-ready {
    display: none;
    @media screen and (max-width: $mobile-width) {
      margin: 3em 0 4em 0;
    }
  }

  .track-flight {
    margin-bottom: 3em;
  }

  div.recent-lobs {
    display: none;
    max-width: $narrow-centre-column-width;
    margin: 0 auto 3em auto;
    overflow: hidden;
  }

  ul.lob-history {
    display: inline;
    list-style: none;
    margin: 15px 0;
    padding: 0;

    li {
      float: left;
      width: calc(50% - 10px);
      margin: 0 0 20px 0;
      &:nth-child(odd) {
        margin-right: 20px;
      }

      a {
        @extend button[type=submit];
        width: 100%;
        clear: initial;
        margin: 0;
        display: block;
      }
    }
  }
}

@mixin preloader {
  padding-top: 2em;

  .loader {
    left: calc(50% - 24px);
    position: relative;
  }

  .back {
    padding-top: 2em;
  }
}

/* Throw your phone flying page */

.flyer {
  text-align: center;

  .connection-active {
    display: none;
  }

  .uplink-status {
    font-size: 1.2rem;
    margin-bottom: 1em;

    p.title-with-hint {
      margin-bottom: 0;
    }
    p.hint {
      margin: 0;
      font-size: 80%;
      color: #4A3B00;
    }
  }

  .spin-warning {
    display: none;
    background-color: rgb(255, 179, 0);
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    margin: -12px -12px 10px -12px;
  }

  .connecting-loader {
    @include preloader;
  }

  .connection-active {
    margin-bottom: 2rem;
    .last-reading {
      margin-bottom: 2.5rem;
      .height {
        font-size: 5rem;
        font-weight: bold;
        color: $link-color;
        line-height: 1.2em;
      }
      .airtime {
        font-size: 1.2rem;
        color: black;
      }
    }
  }

  .message {
    margin: 0 0 1.5em 0;
    font-size: 1.2rem;
    p.prompt {
      font-size: 1.2em;
    }
  }

  .submit-to-leaderboard {
    margin-top: 1em;
    display: none;
    border-top: 2px solid rgba(255,255,255,0.5);
    padding-top: 2em;

    h3 {
      font-size: 100%;
    }

    form.panel {
      input[type=text] {
        min-width: 280px;
      }
      margin-bottom: 0.5em;
    }

    .submitted-panel {
      display: none;
    }
  }

  .unique-code {
    max-width: $narrow-centre-column-width;
    margin: 3em auto 1.5em auto;
    background: #EFE2D9;
    @include background-image(linear-gradient(#D1D8DC, #EFE2D9));
    border-radius: 5px;
    padding: 12px;
    .lob-code {
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
    p {
      margin: 0 0 0.5em 0;
    }
  }
}

/* Track another phone page */

main.tracker {
  width: $max-width;
  max-width: $max-width;
  padding: 0 12px;

  .uplink-up {
    display: none;
  }

  .uplink-status-message {
    font-size: 1.2rem;
    margin: 1em 0;
    .code {
      display: block;
      margin: 0.5em 0;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .graph-and-phone {
    overflow: hidden;
    display: none;

    #tracker-wrapper {
      background-color: #FFF;
      border: 1px solid #AAA;
      float: left;
      margin: 25px 0;
      border-radius: 8px;
      padding: 5px;
      width: 570px;
      position: relative;
    }

    #tracker-graph {
      width: 555px;
      height: 270px;
    }

    #tridiv {
      float: right;
      position: relative;
      width: 350px;
      height: 350px;
      font-size: 45%;
    }

    .pause-button, .play-button {
      position: absolute;
      top: 5px;
      right: 7px;
      margin: 0;
    }
    .play-button {
      display: none
    }
  }

  @media screen and (max-width: $mobile-width) {
    width: 95%;
    width: calc(100% - 12px);
    max-width: initial;

    .graph-and-phone {
      padding-bottom: 250px;
      position: relative;

      #tracker-wrapper {
        width: 100%;
      }

      #tracker-graph {
        float: none;
        width: 100%;
        height: 160px;
      }

      #tridiv {
        width: 100%;
        height: 350px;
        font-size: 55%;
        transform: scale(0.6, 0.6);
        position: absolute;
        top: 160px;
      }
    }
  }

  .lock-unlock {
    clear: both;
  }

  .connecting-loader {
    @include preloader;
  }

  .flight-history {
    display: none;
    margin-bottom: 2em;
  }
}

/* About page */
.about {
  section {
    margin-bottom: 4em;
  }
  img.ably-logo {
    height: 80px;
  }
  h2 a {
    color: black;
  }
  h2.workshop-logo {
    font-size: 1.2em;
  }
}

/* Leaderboard container partial */
.leaderboard {
  clear: both;
  margin: 24px 0;
}
